html {
    width: 100%;
    height: 100%;
}

/* bluecolor #4393a5 */

/* blue v2 #68a3b9 */

/* green #91B968 */

/* white #fafafa */

/* new white #fdfdfd */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fdfdfd;
    color: #68a3b9;
    font-family: "Open Sans", sans-serif;
}

.wrapper {}

/* Header */

.header {
    padding: 20px 0;
    background-color: #68a3b9;
}

.header-container {
    margin-right: 180px;
    margin-left: 180px;
}

@media (min-width: 1350px) {
    .header-container {
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Navigation */

.logo {}

.logo-image {
    height: 100px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    margin: 0;
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: flex-end; */
    color: #fdfdfd;
}

.menu-item {
    margin-left: 25px;
    line-height: 40px;
    height: 40px;
}

.anchor-link, .link-to-top {
    color: #fdfdfd;
    text-decoration: none;
    text-transform: uppercase;
}

.anchor-link:hover, .link-to-top:hover {
    text-decoration: underline;
}

/* Footer */

.footer {
    color: #fdfdfd;
    background-color: #68a3b9;
    padding: 20px;
}

.link-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #fdfdfd;
    text-decoration: none;
    text-transform: uppercase;
}

.link-to-top:hover {
    text-decoration: underline;
}

.copyright {
    padding: 5px;
    display: inline-block;
    /* position: absolute;
    bottom: 30px;
    left: 30px; */
}

/* Slides */

.slide {
    position: relative;
}

.slide .content {
    display: flex;
    flex-direction: row;
    padding: 35px 0;
}

.slide-block {
    flex: 1;
}

#main {
    color: #fdfdfd;
    background-color: #68a3b9;
}

.main-view {
    height: 850px;
}

#company {}

#company .content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#company .picture-container {
    width: 1000px;
}

.company-picture {
    flex: 1;
    width: 1000px;
    vertical-align: bottom;
    /* height: 100%; */
    /* line-height: 100%; */
    /* margin-top: 100px; */
    /* position: absolute;
    bottom: 0; */
}

#company .description {
    /* min-height: 300px; */
    text-align: left;
}

/* TODO: remove once better structure */

/* .description>* {
    padding-left: 30px;
    padding-right: 30px;
} */

#team {}

#team .content {
    flex-direction: column;
    text-align: center;
}

.team-list {
    margin: 35px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.team-member {}

.team-picture-container {
    width: 250px;
    height: 250px;
    margin: 0 20px;
    border-radius: 50%;
    overflow: hidden;
}

.team-picture {
    width: 250px;
    height: 250px;
}

.description .team-list {
    margin-top: 0;
}

.member-desc {
    width: 250px;
    margin: 0 20px;
    text-align: center;
}

#support {}

#support .picture-container {
    width: 1000px;
}

.support-picture {
    flex: 1;
    width: 1000px;
    /* height: 100%; */
    /* line-height: 100%; */
    /* margin-top: 100px; */
    /* position: absolute;
    bottom: 0; */
}

#contact {}

#contact .picture-container {
    width: 500px;
}

.contact-picture {
    flex: 1;
    width: 500px;
    vertical-align: bottom;
    /* height: 100%; */
    /* line-height: 100%; */
    /* margin-top: 100px; */
    /* position: absolute;
    bottom: 0; */
}